@charset "utf-8";

	    	.main_color {
	    		background-color: #0099ff;
	    	}

	    	.a-mask {
	    		opacity: 1;
	    		background: rgba(255,255,255,0.5);
	    	}

	    	.vis {
	    		visibility: visible;
    		}
  		

	    	.a-mask1 {
	    		opacity: 1;
	    		background: rgba(204,204,204,0.5);
	    	}

	    	.a-mask2 {
	    		opacity: 1;
	    		background: rgba(153,153,153,0.5);
	    	}

	    	.a-mask3 {
	    		opacity: 1;
	    		background: rgba(153,153,153,0);
	    	}
